<form action = '/bookings/testing'>
	ROOMTYPE: <input type="number" name = "roomtype_id" value = 1><br>
	HOTEL: <input type="number" name = "hotel_id" value = 1><br>
	START DATE:<input type="date" name = "startdate"><br>
	END DATE:<input type="date" name = "enddate"><br>
	<input type="submit" value = "submit">
</form>