<div class="container" style="background-color: white">
  <div class="form form-horizontal" style="margin-top: 1%">
    
    <div class="field form-group">
      <label class="control-label col-sm-3">Pulished Price* :</label>
      <div class="col-sm-4" ><input type="number" required = 'true' name="published_price" id = 'published_price' class="form-control"></div>
    </div>

    <div class="field form-group">
      <label class="control-label col-sm-3">baseprice for single occupancy* :</label>
      <div class="col-sm-4" ><input type="number" required = 'true' name="base_1" id = 'base_1' class="form-control"></div>
    </div>

    <div class="field form-group">
      <label class="control-label col-sm-3">baseprice for double occupancy* :</label>
      <div class="col-sm-4" ><input type="number" required = 'true' name="base_2" id = 'base_2' class="form-control"></div>
    </div>

    <div class="field form-group">
      <label class="control-label col-sm-3">Extra adult cost* :</label>
      <div class="col-sm-4" ><input type="number" required = 'true' name="extraadult" id = 'extraadult' class="form-control"></div>
    </div>

    <div class="field form-group">
      <label class="control-label col-sm-3">Extra child cost* :</label>
      <div class="col-sm-4" ><input type="number" required = 'true' name="extrachild" id = 'extrachild' class="form-control"></div>
    </div>

    <div class="field form-group">
      <label class="control-label col-sm-3">Adult Breakfast rate* :</label>
      <div class="col-sm-4" ><input type="number" required = 'true' name="adult_breakfast" id = 'adult_breakfast' class="form-control"></div>
    </div>

    <div class="field form-group">
      <label class="control-label col-sm-3">Adult Lunch rate* :</label>
      <div class="col-sm-4" ><input type="number" required = 'true' name="adult_lunch" id = 'adult_lunch' class="form-control"></div>
    </div>

    <div class="field form-group">
      <label class="control-label col-sm-3">Adult Dinner rate* :</label>
      <div class="col-sm-4" ><input type="number" required = 'true' name="adult_dinner" id = 'adult_dinner' class="form-control"></div>
    </div>

    <div class="field form-group">
      <label class="control-label col-sm-3">Child Breakfast rate* :</label>
      <div class="col-sm-4" ><input type="number" required = 'true' name="child_breakfast" id = 'child_breakfast' class="form-control"></div>
    </div>

    <div class="field form-group">
      <label class="control-label col-sm-3">Child Lunch rate* :</label>
      <div class="col-sm-4" ><input type="number" required = 'true' name="child_lunch" id = 'child_lunch' class="form-control"></div>
    </div>

    <div class="field form-group">
      <label class="control-label col-sm-3">Child Dinner rate* :</label>
      <div class="col-sm-4" ><input type="number" required = 'true' name="child_dinner" id = 'child_dinner' class="form-control"></div>
    </div>



  </div>

  <div class="col-sm-12 text-center" style="margin-bottom: 1%"><button class="btn btn-success btn-md actions " id="submit">Submit</button></div>

</div>   


<script type="text/javascript">
  $('#submit').click(function(e){
     e.preventDefault();

    
    $.ajax({
        url: '/pricings/create',
        type: 'post',
        data: {
              price: {
                        'published_price': document.getElementById('published_price').value,
                        'base_1': document.getElementById('base_1').value,
                        'base_2': document.getElementById('base_2').value,
                        'extraadult': document.getElementById('extraadult').value,
                        'extrachild': document.getElementById('extrachild').value,
                        'adult_breakfast': document.getElementById('adult_breakfast').value,
                        'adult_lunch': document.getElementById('adult_lunch').value,
                        'adult_dinner': document.getElementById('adult_dinner').value,
                        'child_breakfast': document.getElementById('child_breakfast').value,
                        'child_lunch': document.getElementById('child_lunch').value,
                        'child_dinner': document.getElementById('child_dinner').value
                     },
                    hotel_id: <%=current_user.hotel.id%>,
                    roomtype_id: <%=params[:room_id]%>
              },
        progress:function(loadTime,status){
                          console.log(loadTime);
                         },
        success: function (result,status,object) {
                  console.log(result);
                  console.log(status);
                  window.location.href = "/roomtypes";
                 },
        error:function(result,status) {
                  alert(result.responseText);
                  console.log(status);
                 }
              
      });
  });
</script>

