// Place all the styles related to the roomPapa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	margin: 0;
	padding : 0;
}

header{
	width:96%;
	background-color: grey;
	height:5%;
	padding:2%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	div.logo_side{

	}
	div.login_side{
	width: 30%;
		ul{

			list-style: none;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			li{
				display: inline block;
			}
		}
		a{
			color: black;
		}
		a:hover{
		 background: white;
		}
	}
}
.LocationBlock{
  background-image: url("1pic.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  transition-duration: 0.3s;
}
.HotelBlock{
	background-image: url("hotel-manali.jpg");
	height: 250px;
  width: 100%;
  background-size: cover;
  transition-duration: 0.3s;
}